/* 全局控制 */

/* 全局颜色控制 */
:root {
    --primary: #00d1b2;
    --primary-light: #d9f8f3;
    --primary-dark: #00947e;
    --love-light: #feecf0;
    --love-dark: #cc0f35;
    --love: #f14668;
    --images-light: #fffaeb;
    --images-dark: #946400;
    --images: #ffd257;
    --rss: #f26522;
}

/* 百科颜色控制 */
.bd-hero.bd-is-love {
    --background-color: var(--love-light);
    --color-strong: var(--love);
    --color-icon: var(--love);
}

/* 图像识别颜色控制 */
.bd-hero.bd-is-expo {
    --background-color: var(--images-light);
    --color-strong: var(--images-dark);
    --color-icon: var(--images);
}

.bd-hero-heading .title {
    color: var(--color-strong);
    display: flex;
    font-weight: 400;
    position: relative;
}

.bd-hero {
    --color: #7a7a7a;
    --color-strong: #363636;
    --icon-dimensions: 1.125em;
    --icon-spacing: 0.25em;
    background-color: var(--background-color);
}


.bd-hero.bd-is-primary {
    --background-color: var(--primary-light);
    --color-strong: var(--primary-dark);
    --color-icon: var(--primary);
}

/* 菜单栏亮暗颜色预设*/
.bd-navbar-item.bd-navbar-item-home {
    --color-light: var(--primary-light);
    --color-dark: var(--primary-dark);
}
.bd-navbar-item.bd-navbar-item-images {
    --color-light: var(--images-light);
    --color-dark: var(--images-dark);
}
.bd-navbar-item.bd-navbar-item-love {
    --color-light: var(--love-light);
    --color-dark: var(--love-dark);
}

/* 图标颜色控制 */
.has-text-primary {
    color: var(--primary)!important;
}
.has-text-images {
    color: var(--images)!important;
}
.has-text-love {
    color: var(--love)!important;
}
.has-text-rss {
    color: var(--rss)!important;
}

/* 菜单栏选中、悬浮颜色变换 */
.bd-navbar-item.is-active, .bd-navbar-item:hover {
    border-radius: .375em;
    color: var(--color-dark)!important;
}
.bd-navbar-item:hover:not(.is-active) {
    background-color: var(--color-light)!important;
}
.bd-navbar-item.is-active:hover {
    background-color: transparent!important;
}
.bd-navbar-item.is-active {
    --background-color: transparent!important;
    box-shadow: inset 0 0 0 2px var(--color-light)!important;
}

.bd-navbar-item {
    transition-duration: 86ms;
    transition-property: var(--background-color), box-shadow, color;
}
/* 控制icon与菜单名之间的距离 */
.bd-navbar-item>.icon {
    margin-left: -.25em;
    margin-right: .25em;
}

/* 菜单栏下拉列表图标样式 */
.bd-navbar-ellipsis {
    align-items: center;
    border-radius: .375em;
    color: #485fc7;
    justify-content: center;
    padding: 0!important;
    width: 2.25em;
    display: flex;
}
.navbar-link::after {
    display: none!important;
}

.bd-hero-heading .title .icon {
    margin-right: var(--icon-spacing);
}
.bd-hero {
    --icon-spacing: 0.5em;
}


.bd-screenshots {
    display: grid;
    grid-gap: 1.5rem;
}

.bd-screenshot {
    align-self: flex-start;
    display: block;
    transition-duration: 172ms;
    transition-property: box-shadow,transform;
}

.bd-screenshot, .bd-screenshot img {
    border-radius: 6px;
}

.bd-screenshot img:hover {
    scale: 0.95;
}

.bd-screenshots .bd-screenshot {
    position: relative;
}

/* begin-分页样式 */
.pagination {
    margin: .5em;
    padding: 1em 1em 1em 0;
}
.pagination-page-info {
    padding: .6em .6em .6em 0;
    width: 40em;
    margin: .5em .5em .5em 0;
    font-size: 16px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding: .1em .25em;
    font-size: 150%;
}
/* end-分页样式 */

/*------------------媒体查询------------------*/
/* 屏幕不大于1023px*/
@media screen and (max-width: 1023px){
    .navbar-end {
        display: none;
    }
    .bd-navbar-ellipsis {
        display: none!important;
    }
    .navbar-dropdown .navbar-item {
        padding: .5em .75em !important;
    }
    .bd-mobile-icon {
        display: flex;
        align-items: center;
    }
    .navbar-start, .navbar-end {
      flex-direction: column;
    }
    .navbar-item {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
}
/* 屏幕宽度不小于1024px*/
@media screen and (min-width: 1024px) {
    .bd-mobile-icon {
        display: none!important;
    }
    .bd-navbar {
        padding: 1rem 2rem;
    }

    .hero-body {
        padding: 3rem 6rem;
    }

}

/* begin-实现百科盒子的响应式布局 */
/* 屏幕不大于768px*/
@media screen and (max-width: 768px){
    .bd-screenshots {
        grid-template-columns: repeat(auto-fill, minmax(calc(33.3% - 1.5rem), 1fr))!important;
        margin: 0 auto;
        max-width: 768px;
    }
}
/* 屏幕宽度介于769px到1023px之间*/
@media screen and (min-width: 769px) and (max-width: 1023px){
    .bd-screenshots {
        grid-template-columns: repeat(auto-fill, minmax(calc(20% - 1.5rem), 1fr))!important;
        margin: 0 auto;
        max-width: 1023px;
    }
}
/* 屏幕介于1024px到1215px之间*/
@media screen and (min-width: 1024px) and (max-width: 1215px){
    .bd-screenshots {
        grid-template-columns: repeat(auto-fill, minmax(calc(16.5% - 1.5rem), 1fr))!important;
        margin: 0 auto;
        max-width: 1024px;
    }
}
/* 屏幕不小于1216px*/
@media screen and (min-width: 1216px){
    .bd-screenshots {
        grid-template-columns: repeat(auto-fill, minmax(calc(12.5% - 1.5rem), 1fr))!important;
        margin: 0 auto;
        max-width: 1024px;
    }
}
/* end-实现百科盒子的响应式布局*/